<div class="center hero-unit">
		<h1>Sign up or Login to access</h1> 
		<br />
		<p>
		  <%= link_to "Excelsis", "http://linkedin.com/in/carloscheung" %>
		  is a project to help people get healthy
		</p>
</div>